<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax Website</title>
    <link rel="stylesheet" href="/static/about_us_css.css">
</head>
<body>


    <section class="home">
        <img src="/static/mount2.png" class="mount2">
        <img src="/static/mount1.png" class="mount1">
        <img src="/static/bush2.png" class="bush2">

         <h1 class="title">ABOUT US</h1>

        <img src="/static/bush1.png" class="bush1">
        <img src="/static/leaf2.png" class="leaf2">
        <img src="/static/leaf1.png" class="leaf1">
    </section>

    <section class="about">
        <h1>Welcome to our Student Portal</h1>
        <h3>We strive to simplify the way you manage your educational institution.Our team is dedicated to providing you with seamless and efficient solutions for user ID login, messaging, result tracking, and attendance management.</h3>
        <h1>Our Services</h1>
        <h2>User ID Login System</h2>
        <h3>We offer a secure and user-friendly login system that ensures only authorized individuals have access to the platform.</h3>
        <h2>Message System</h2>
        <h3>Our messaging system allows for seamless communication between users, making it easier to stay connected and informed.</h3>

        <h2>Result System</h2>
        <h3>With our result system, you can easily track and manage student results, ensuring accurate and timely reporting.</h3>

        <h2>Attendance System</h2>
        <h3>Our attendance system simplifies the process of tracking student attendance, providing you with valuable insights into attendance patterns.</h3>

        <h1>Meet Our Team</h1>
        <h2>Ashwath Soni - Back-end Developer</h2>
        <h3>Ashwath oversees the back-end development and database management of our platform.Utilizing his expertise in Python and SQL. His expertise ensures that our system operates smoothly and efficiently, handling data securely and effectively.</h3>

        <h2>Yuvika Khanna - Front-end Developer</h2>
        <h3>Yuvika manages the front end of our platform, utilizing her expertise in HTML, CSS, and JavaScript. She is responsible for creating visually appealing and user-friendly subpages that enhance the overall user experience.</h3>

        <h2>Sarah - Front-end Developer</h2>
        <h3>Sarah contributes to the front end of our platform, utilizing her skills in HTML, CSS, and JavaScript. She has played a key role in designing and developing our index page, creating a welcoming and intuitive entry point for users.</h3>

        <h2>Sahil Chabra - Front-end and RFID Specialist</h2>
        <h3>Sahil specializes in front-end development and RFID technology. He is responsible for designing and developing the front-end admin dashboard, as well as implementing RFID technology for enhanced security and efficiency.</h3>

    </section>

    <script src="static/about_us_js.js"></script>

</body>
</html>