<!DOCTYPE html>
<html lang="en">



<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Sarah Creations Website Design Templates">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="IT Solutions and Services HTML Template">
    <meta name="description" content="AmitCreations- IT Solutions and Services HTML Template">

    <!-- title  -->
    <title>Student Portal</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="static/logos/favicon.png">
    <link rel="apple-touch-icon" href="static/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/static/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="static/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2">

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="#" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="static/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler bg-primary"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">



									 <li><a href="/todo">To do list </a></li>
									 <li>
                                            <a href="/about_us">About</a>

                                        </li>

                                        </li>
										<li><a href="/contact_us">Contact</a></li>
										<li><a href="/admin_login">Admin login</a></li>

                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="/register" class="btn-style1 medium"><span>Login</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- BANNER
        ================================================== -->
        <section class="py-0 mx-lg-1-6 mx-xl-2-5 mx-xxl-2-9">
            <div class="slider-fade1 owl-carousel owl-theme w-100">

                <div class="item bg-img cover-background pt-14 pb-22 py-sm-18 py-lg-20 py-xl-24" data-background="static/banner/slide-02.jpg">
                    <div class="container position-relative z-index-9">
                        <div class="row align-items-center justify-content-xl-end">
                            <div class="col-lg-9 col-xl-7 col-xxl-6">
                                <h1 class="display-16 display-sm-7 display-lg-4 display-xl-3 mb-2-9">Welcome to Student Portal</h1>
                                <p class="mb-2-3 font-weight-500 lead d-none d-sm-block">Making things easy for students.</p>
                                <a href="contact.html" class="btn-style1"><span>Get Started</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Courses</span>
                    <h2 class="mb-0 h1">Courses That Help You Grow.</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="card card-style01 border-0 rounded-0">
                            <img src="static/content/01.jpg" alt="...">
                            <div class="title">
                                <div class="d-flex align-items-center">
                                    <img src="static/icons/09.png" alt="...">
                                    <h4 class="h5 mb-0 ms-3"><a href="services.html">B.Tech CSE </a></h4>
                                </div>
                                <a href="#!"><i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="overlay text-center">
                                <div>
                                    <img src="static/icons/icon-web-development.png" class="mb-3" alt="...">
                                    <h3 class="text-white h4 mb-3"><a href="services.html" class="text-white text-primary-hover">B.Tech Computer Science and Engineering </a></h3>
                                    <p class="mb-0 text-white">Our B.Tech program in Computer Science and Engineering offers a comprehensive curriculum designed to equip students with the knowledge and skills required to excel in the dynamic field of technology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="card card-style01 border-0 rounded-0">
                            <img src="static/content/02.jpg" alt="...">
                            <div class="title">
                                <div class="d-flex align-items-center">
                                    <img src="static/icons/10.png" alt="...">
                                    <h4 class="h5 mb-0 ms-3"><a href="services.html">LLB</a></h4>
                                </div>
                                <a href="#!"><i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="overlay text-center">
                                <div>
                                    <img src="static/icons/icon-branding.png" class="mb-3" alt="...">
                                    <h3 class="text-white h4 mb-3"><a href="services.html" class="text-white text-primary-hover">Bachelor of Legislative Law.</a></h3>
                                    <p class="mb-0 text-white">Our LLB program provides students with a solid foundation in legal principles, theory, and practice, preparing them for a rewarding career in the fi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="card card-style01 border-0 rounded-0">
                            <img src="static/content/03.jpg" alt="...">
                            <div class="title">
                                <div class="d-flex align-items-center">
                                    <img src="static/icons/11.png" alt="...">
                                    <h4 class="h5 mb-0 ms-3"><a href="services.html">MBA</a></h4>
                                </div>
                                <a href="#!"><i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="overlay text-center">
                                <div>
                                    <img src="static/icons/icon-digital-marketing.png" class="mb-3" alt="...">
                                    <h3 class="text-white h4 mb-3"><a href="services.html" class="text-white text-primary-hover">Master of Business Administration</a></h3>
                                    <p class="mb-0 text-white">Our MBA program is designed to equip students with the knowledge, skills, and leadership qualities necessary to excel in today's dynamic business environment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT
        <section class="pt-0">
            <div class="container position-relative z-index-3">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-1-9 mb-lg-0 wow fadeIn" data-wow-delay="400ms">
                        <div class="position-relative text-center pb-sm-22 me-xl-1-9">
                            <img src="img/content/about3.jpg" class="position-relative z-index-2" alt="...">
                            <img src="img/content/about4.jpg" class="position-absolute bottom bottom-sm-10 left z-index-3 d-none d-sm-block" alt="...">
                            <img src="img/content/about5.jpg" class="position-absolute bottom-0 right z-index-1 d-none d-sm-block" alt="...">
                            <div class="p-4 bg-white shadow right right-sm-5 top-10 position-absolute z-index-3">
                                <img src="img/content/chart.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-lg-2-9">
                            <div class="section-title wow fadeIn" data-wow-delay="100ms">
                                <span class="sm-title">About Us</span>
                                <h2 class="h1 mb-1-9">Elevate Your Financial Brand with Marketing Solutions Redefined.</h2>
                            </div>
                            <p class="mb-1-9 wow fadeInUp" data-wow-delay="200ms">Our team comprises a diverse network of financial consultants and industry experts, united by a global perspective and collaborative ethos. We strive to comprehend your unique challenges and are dedicated to posing insightful inquiries for tailored solutions.</p>
                            <div class="d-sm-flex align-items-center mb-2-9">
                                <div class="pe-sm-1-9 border-sm-end text-sm-center mb-3 mb-sm-0 wow fadeInUp" data-wow-delay="200ms">
                                    <h3 class="display-16 display-sm-10 display-lg-7 text-primary">16</h3>
                                    <p class="mb-0 text-secondary">Years Experience</p>
                                </div>
                                <div class="ps-sm-1-9">
                                    <ul class="list-style2 mb-0">
                                        <li class="wow fadeInUp" data-wow-delay="300ms">Wealth Management </li>
                                        <li class="wow fadeInUp" data-wow-delay="400ms">Finacial Planning </li>
                                        <li class="wow fadeInUp" data-wow-delay="500ms">Retirement Planning </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="about.html" class="btn-style1 wow fadeIn" data-wow-delay="200ms"><span>Read more</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/bg/bg-05.png" class="position-absolute bottom-0 right" alt="...">
        </section>

         SERVICES
        ==================================================
        <section class="bg-dark">
            <div class="container position-relative z-index-3">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeIn" data-wow-delay="200ms">
                    <span class="sm-title">Our Services</span>
                    <h2 class="mb-0 h1 text-white">We Provide The Best Services</h2>
                </div>
                <div class="row mt-n2-9">
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="300ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/01.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="information-security.html" class="text-white">Wealth Management</a></h3>
                                    <p class="mb-3 text-white opacity7">Customized investment strategies tailored to the client's financial goals, risk tolerance, and time horizon.</p>
                                    <a href="#!" class="text-white">Read More <i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/02.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="mobile-platforms.html" class="text-white">Financial Planning</a></h3>
                                    <p class="mb-3 text-white opacity7">Comprehensive analysis and planning covering areas such as retirement planning, budgeting, tax planning, estate planning, and risk management.</p>
                                    <a href="#!" class="text-white">Read More <i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/03.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="data-synchronization.html" class="text-white">Retirement Planning</a></h3>
                                    <p class="mb-3 text-white opacity7"> Guidance on retirement savings strategies, income planning, Social Security optimization, and managing retirement accounts such as IRAs and 401(k)s.</p>
                                    <a href="#!" class="text-white">Read More <i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/04.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="process-automation.html" class="text-white">Risk Management</a></h3>
                                    <p class="mb-3 text-white opacity7">Assessment of potential risks to the client's financial security and implementation of strategies to mitigate these risks through insurance, asset allocation, and diversification.</p>
                                    <a href="#!" class="text-white">Read More<i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="700ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/05.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="event-processing.html" class="text-white">Estate Planning</a></h3>
                                    <p class="mb-3 text-white opacity7"> Assistance with the creation of wills, trusts, powers of attorney, and other estate planning documents to ensure the client's assets are distributed according to their wishes and minimize tax liabilities.</p>
                                    <a href="#!" class="text-white"> Read More<i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 mt-2-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="card-style-02 h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="card-icon">
                                        <img src="img/icons/06.png" alt="...">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-lg-4">
                                    <h3 class="h5 mb-3"><a href="content-management.html" class="text-white">Education Planning</a></h3>
                                    <p class="mb-3 text-white opacity7"> Strategies to save for education expenses, including 529 college savings plans, Coverdell Education Savings Accounts (ESAs), and other education funding options.</p>
                                    <a href="#!" class="text-white">Read More<i class="ti-arrow-right align-middle ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="img/bg/bg-01.png" class="position-absolute bottom-0 left" alt="...">
        </section>

         FAQ
        ================================================== -->

        <!-- PORTFOLIO
        ================================================== -->

        <!-- TESTIMONIAL
        ================================================== -->
        <section class="bg-dark pt-7 pt-lg-10 pb-lg-16">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-9">
                        <div class="section-title text-center mb-1-9 mb-md-2-3 wow fadeIn" data-wow-delay="200ms">
                            <span class="sm-title">Testimonials</span>
                            <h2 class="mb-0 h1 text-white">What People Say About Us</h2>
                        </div>
                        <div class="position-relative">
                            <div class="testimonial-carousel1 owl-carousel owl-theme wow fadeIn" data-wow-delay="400ms">
                                <div class="position-relative mt-4">
                                    <img src="static/avatars/avatar-01.jpg" class="rounded-circle mb-3" alt="...">
                                    <p class="mb-1-9 display-25 display-lg-23 text-white">The user-friendly interface makes navigation a breeze, ensuring that I can quickly find what I need without any hassle. Plus, the portal's mobile responsiveness allows me to stay connected and productive, whether I'm on campus or on the go.</p>
                                    <h4 class="h5 mb-0 text-primary">Ryaan Kapoor</h4>
                                    <p class="mb-0 text-white">Student</p>
                                </div>
                                <div class="position-relative mt-4">
                                    <img src="static/avatars/avatar-02.jpg" class="rounded-circle mb-3" alt="...">
                                    <p class="mb-1-9 display-25 display-lg-23 text-white">Overall, the student portal with RFID attendance tracking has revolutionized the way we manage attendance. It has streamlined our processes, enhanced accountability, and ultimately contributed to a more efficient and productive learning environment.</p>
                                    <h4 class="h5 mb-0 text-primary">Satwinder Singh</h4>
                                    <p class="mb-0 text-white">Teacher</p>
                                </div>
                                <div class="position-relative mt-4">
                                    <img src="static/avatars/avatar-03.jpg" class="rounded-circle mb-3" alt="...">
                                    <p class="mb-1-9 display-25 display-lg-23 text-white">Moreover, the student portal has empowered students to take ownership of their attendance. By providing them access to their attendance records and statistics, it fosters a sense of accountability and encourages them to maintain regular attendance.</p>
                                    <h4 class="h5 mb-0 text-primary">Disha Kapoor</h4>
                                    <p class="mb-0 text-white">Teacher</p>
                                </div>
                            </div>
                            <h6 class="testimonial-quote">“</h6>
                        </div>
                    </div>
                </div>
            </div>
            <img src="static/content/04.png" class="position-absolute top-n10 right" alt="...">
            <img src="static/content/06.png" class="position-absolute bottom-0 left" alt="...">
        </section>
		<!-- COUNTERS
        ================================================== -->
        <section>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-9">

                        <div class="position-relative elements-block">

                            <div class="inner-title">
                                <h2>Statistics</h2>
                            </div>

                            <div class="row text-center mt-n1-9 position-relative z-index-1">
                                <div class="col-6 col-lg-3 mt-1-9">
                                    <div class="counter-style2">
                                        <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">15</span>k</h3>
                                        <span class="fw-bold text-uppercase">Students</span>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3 mt-1-9">
                                    <div class="counter-style2">
                                        <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">8</span>+</h3>
                                        <span class="fw-bold text-uppercase">Campuses</span>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3 mt-1-9">
                                    <div class="counter-style2">
                                        <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">2</span>k</h3>
                                        <span class="fw-bold text-uppercase">Employees</span>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3 mt-1-9">
                                    <div>
                                        <h3 class="display-14 display-sm-12 display-lg-10 text-primary"><span class="countup">50</span>+</h3>
                                        <span class="fw-bold text-uppercase">Courses</span>
                                    </div>
                                </div>
                            </div>



                            <div id="copy-code1" class="mfp-hide white-popup-block popup-copy">
                                <div class="copy-element"><a class="copy-clipboard" data-clipboard-target="#section1">copy</a></div>
                                <pre id="section1"><code class="language-html">
&lt;div class="row text-center mt-n1-9 position-relative z-index-1"&gt;
    &lt;div class="col-6 col-lg-3 mt-1-9"&gt;
        &lt;div class="counter-style2"&gt;
            &lt;h3 class="display-14 display-sm-12 display-lg-10 text-primary"&gt;&lt;span class="countup"&gt;15&lt;/span&gt;k&lt;/h3&gt;
            &lt;span class="fw-bold text-uppercase"&gt;Customers&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-6 col-lg-3 mt-1-9"&gt;
        &lt;div class="counter-style2"&gt;
            &lt;h3 class="display-14 display-sm-12 display-lg-10 text-primary"&gt;&lt;span class="countup"&gt;78&lt;/span&gt;+&lt;/h3&gt;
            &lt;span class="fw-bold text-uppercase"&gt;Branches&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-6 col-lg-3 mt-1-9"&gt;
        &lt;div class="counter-style2"&gt;
            &lt;h3 class="display-14 display-sm-12 display-lg-10 text-primary"&gt;&lt;span class="countup"&gt;3&lt;/span&gt;k&lt;/h3&gt;
            &lt;span class="fw-bold text-uppercase"&gt;Employees&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-6 col-lg-3 mt-1-9"&gt;
        &lt;div&gt;
            &lt;h3 class="display-14 display-sm-12 display-lg-10 text-primary"&gt;&lt;span class="countup"&gt;8&lt;/span&gt;+&lt;/h3&gt;
            &lt;span class="fw-bold text-uppercase"&gt;Countries&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                    </code></pre>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>


        <!-- TABS
        ================================================== -->

        <!-- COUNTER
        ================================================== -->

        <!-- CALL TO ACTION
        ================================================== -->
        <section class="jarallax dark-overlay" data-overlay-dark="65" style="background-image: url(static/content/vide-bg-img.jpg);" data-jarallax data-speed="0.8" data-video-src="https://www.youtube.com/watch?v=pDWUf_g2zsc">
            <div class="container">
                <div class="row text-center justify-content-center">
                    <div class="col-xl-11">
                        <h2 class="mb-1-9 display-13 display-sm-8 display-md-6 display-lg-3 text-white">Mission is to Help in students growth  & More</h2>
                        <a href="contact.html" class="btn-style1 white-border"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- BLOG
        ================================================== -->

        <!-- FOOTER
        ================================================== -->
        <footer class="position-relative pt-0">
            <div class="bg-primary py-1-9 mb-6 mb-xxl-10">
                <div class="container">
                    <div class="row mt-n1-9 align-items-center">
                        <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="static/icons/07.png" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="mb-0 text-white">Contact Us</p>
                                    <h3 class="mb-0 h5 text-white">(+91)9999166261, 9015693031</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-1-9 text-start text-lg-center wow fadeIn" data-wow-delay="400ms">
                            <div class="footer-logo">
                                <a href="index.html"><img src="static/logos/footer-light-logo.png" alt="..."></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                            <div class="d-flex align-items-center text-lg-end">
                                <div class="flex-grow-1 ms-3 ms-lg-0 me-lg-3 order-2 order-lg-1">
                                    <p class="mb-0 text-white">Mail Us</p>
                                    <h3 class="mb-0 h5 text-white">info@studentportal.co.in</h3>
                                </div>
                                <div class="flex-shrink-0 order-1 order-lg-2">
                                    <img src="static/icons/08.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-n5 pb-6 pb-xxl-10">
                    <div class="col-md-6 col-lg-5 mt-5 wow fadeIn" data-wow-delay="200ms">
                        <h3 class="text-white h5 mb-1-9">About Company</h3>
                        <h4 class="text-white mb-1-9 fw-light w-75 display-27 lh-base opacity8">We have 14+ years experience. Helping students  overcome technology challenges.</h4>
                        <ul class="social-icon-style1">
                            <li>
                                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-5 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-0">
                            <h3 class="text-white h5 mb-1-9">Contacts</h3>
                            <ul class="footer-link mb-0 list-unstyled">
                                <li class="text-white mb-3">
                                    <strong>Adress:</strong> <span class="opacity8">H-54, Sector-62, Noida, - 201301</span>
                                </li>
                                <li class="text-white mb-3">
                                    <strong>Email:</strong> <span class="opacity8">studentportal@gmail.com</span>
                                </li>
                                <li class="text-white">
                                    <strong>Phone:</strong> <span class="opacity8">9999166261, 9015693031</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-5 offset-lg-1 wow fadeIn" data-wow-delay="600ms">
                        <div class="ps-xl-4">
                            <h3 class="text-white h5 mb-1-9">Newsletter</h3>
                            <p class="text-white opacity8 mb-3">Subscribe to our newsletter to receive updates on the latest news!</p>
                            <form class="quform newsletter-form" action="#" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-elements">
                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element mb-0">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->

                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-white text-white m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-color-light-white">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 text-center wow fadeIn" data-wow-delay="100ms">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Powered by <a href="#!" class="text-primary text-white-hover">Sarah </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->


    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="#" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/static/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/static/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/bootstrap.min.js"></script>

    <!-- jquery -->
    <script src="/static/core.min.js"></script>

    <!-- Search -->
    <script src="search/search.js"></script>

    <!-- custom scripts -->
    <script src="/static/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>



</html>