<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
    <link rel="stylesheet" href="/static/message_system_css.css">
</head>

<body>

 <div class="navbar">
        <ul>
            <li><a href="/edit_dashboard/{{ user.id }}">Update Details</a></li>
            <li><a href="/message_system/{{ user.id }}">Send Message</a></li>
            <li><a href="/result_system/{{ user.id }}">Result</a></li>
            <li><a href="/attendance">Attendance</a></li>
            <li><a href="/fees_system/{{ user.id }}">Fees Status</a></li>
        </ul>
    </div>

    <!-- Content Section -->
    <div class="container">
        <div class="form-container">
            <h2>Send Message</h2>
            <form action="/send_message/{{ user.id }}" method="post">
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

</body>

</html>